$color-dark-grey: rgba(255, 255, 255, 0.5);
$color-light-grey: rgba(255, 255, 255, 0.75);
$bg-color-dark-grey: #111;
$bg-color-light-grey: #222;

$padding-y-md: 60px 0px 80px 0px;
$padding-y-lg: 120px 0px 160px 0px;
$padding-xs: 0.5rem;

$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

/* Home */
html, body {
	font-family: "Josefin Sans", sans-serif;
	height: 100%;
}

/* Header */
header {
	background-image: url("../images/antonyvule-bg.jpg");
	background-attachment: fixed;
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;
	height: 100%;
}

#header-content {
	color: $color-light-grey;
	padding-top: 240px;
	font-size: $font-size-sm*2;
}

@media (min-width: $screen-lg) {
	#header-content {
		font-size: $font-size-xs*3;
	}
}

/* Navigation Bar */
.bg-dark {
	background-color: $bg-color-light-grey !important;
}

.navbar-dark .navbar-toggler:hover {
	background-color: $color-dark-grey;
}

/* Main */
section {
	padding: $padding-y-md;
	font-size: $font-size-xs;

	li {
		padding: $padding-xs/2 $padding-xs;
	}
}

#about, #skills, #contact {
	color: $color-light-grey;
	background-color: $bg-color-dark-grey;
}

#about {
	font-size: $font-size-sm;
}

h2, h3 {
	text-align: center;
}

h2 {
	font-size: $font-size-sm;
}

h3 {
	font-size: $font-size-xs*2;
	padding-bottom: $padding-xs;
}

h4 {
	padding: $padding-xs 0rem;
}

.fadein {
  opacity: 0;
}

@media (min-width: $screen-lg) {
	section {
		padding: $padding-y-lg;
	}

	#about {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: $font-size-sm*2;
	}
}

/* Footer */
footer {
	color: $color-dark-grey;
	background-color: $bg-color-light-grey;
	padding: $padding-y-md;
	text-align: center;

	a {
		color: $color-dark-grey;

		&:hover {
			color: $color-light-grey;
			text-decoration: none;
		}
	}
}